<!DOCTYPE html>
<html cl lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    {% include meta.html %}

    <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  </head>
  <body class="page {{page.bodyClass}} bg-black ">
    {% unless page.url == '/' %}
      {% include navigation.html %}
    {% endunless %}

    <div class="">
      {{content}}
      {% include footer.html %}
    </div>
    {% include google-analytics.html %}
    <script type="text/javascript" src="{{ '/assets/js/hamburger.js' | relative_url }}"></script>
  </body>
</html>
