---
layout: default
---


<header class="">
  <div class="flex items-center justify-center w-full h-screen p-6 bg-center bg-top bg-cover text-accent" style="background-image: url(/assets/images/leme-background.jpg);">

    {% if site.logo.logo_desktop_image %}
      <img class="inline mr-2 " height="{{ site.logo.logo_desktop_height }}" width="{{ site.logo.logo_desktop_width }}"
        alt="{{ site.title }} Logo" src="{{ site.logo.logo_desktop_image | relative_url }}" />
    {% endif %}
  </div>

  {% include navigation.html  logo="leme/assets/images/logo/leme-logo-free.svg" %}

</header>

<main class="grid grid-cols-2 gap-10 py-6 ">
  {% for post in site.posts %}
  <div class="inline-block w-full mb-2 bg-slate">
    {% include summary.html post=post %}
  </div>
  {% endfor %}
</main>
